.GoalSelectorPage {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	padding: 2rem 8vw;
}

.GoalIntro {
	color: var(--altText);
}
.goalText {
	font-size: 1.2rem;
	font-weight: 500;
}

.goalBox {
	padding: 1rem;
	border: 1px solid var(--altText);
	border-radius: 15px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 0.25rem;
	width: 100%;
	max-width: 30rem;
	cursor: pointer;
}

.goalBox div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}

.goalBox input[type="text"] {
	border: none;
	background: none;
	width: 100%;
	height: 100%;
	outline: none;
	font-size: 1rem;
	font-weight: 400;
	color: var(--textColor);
}

.goalBox input[type="text"]::placeholder {
	color: var(--altText);
}

.GoalSelectorPage .active {
	border-color: var(--primary2);
}

.setGoal {
	background: var(--primary2);
	padding: 0.75rem 1rem;
	color: var(--textColor);
	font-size: 1.2rem;
	font-weight: 500;
	border-radius: 15px;
	cursor: pointer;
	border: none;
	outline: none;
}

.setGoal:disabled {
	background: var(--altText);
	cursor: not-allowed;
}

@media only screen and (max-width: 1240px) {
	.GoalSelectorPage {
		padding: 2rem;
	}
}

@media only screen and (max-width: 450px) {
	.GoalSelectorPage {
		padding: 1rem;
	}
}
