.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--vh) - 5rem);
	flex-direction: column;
	gap: 1rem;
	padding: 2rem 8vw;
}

.login input {
	background: var(--borderColor);
	border: none;
	outline: none;
	padding: 1rem;
	width: 100%;
	border-radius: 20px;
	font-size: 1rem;
	font-weight: 400;
	color: var(--textColor);
	max-width: 25rem;
}

.login input::placeholder {
	color: var(--altText);
}

.login button {
	background: var(--primary2);
	padding: 0.75rem 1.2rem;
	color: var(--textColor);
	font-size: 1rem;
	font-weight: 500;
	border-radius: 15px;
	cursor: pointer;
	border: none;
	outline: none;
}

.login button:disabled {
	background: var(--borderColor);
	cursor: not-allowed;
}

@media only screen and (max-width: 1240px) {
	.login {
		padding: 2rem;
	}
}

@media only screen and (max-width: 450px) {
	.login {
		height: calc(var(--vh) - 4rem);
		padding: 1rem;
	}
}
